
 @media (min-width: 767px) {
    #container {
        display: table;
    }

    .row {
        display: table-row;
        height: 100%;
    }

    .col-md-2, .col-md-8{
        display: table-cell;
        float: none;
    }
}

body {
    height: 100%;
}

header {
     background-color: red;
     height: 100px;
 }
 
 #aside-no-fix {
     background-color: green;
     height: 100%;
 }
 
 #aside-fix {
     background-color: blue;
     height: 100%;
 }
 
 #content {
     background-color: orange;
     height: 100%;
 }
 
 .visible {
     display: block;
 }
 .cache,
.cache-hover {
     display: none;
 }

.align-right {
    text-align: right;
}

.bg-default {
    background-color: white;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.btn-hover:hover .cache-hover,
.btn-hover:focus .cache-hover {
    display: inline;
}



/* Chat box */

 /* Chat containers */
.msg {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.msg darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.msg::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.msg img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.msg img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
} 